<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="menu"></ion-back-button>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar> 
  <ion-row>    
    <ion-col size="6">
      <ion-text>Encontrar ubicación</ion-text>
    </ion-col>
    <ion-col  size="6">
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
          Ubicación
        </ion-button>
    </ion-col>
  </ion-row>  
</ion-header>
<ion-content> 
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">      
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"  style="height: 100%;"></div>
  </div>   
</ion-content>