<ion-header>
</ion-header>

<ion-content>
  <ion-grid class="grid1">

    <ion-row class="row1">
        <ion-col>
            <img src="../../assets/imagenes/fondoMain.png"/>
        </ion-col>
    </ion-row>


</ion-grid>
  <ion-slide>
    <div class="contaier-login">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="../../assets/imagenes/fondoMain.png"  style="align:center width: 100px; height: 150px;" />
          </ion-col>
          </ion-row>
            <ion-row>
                <ion-col>
                  
                    <h1>Iniciar Sesión</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>

                        <ion-item>
                            <ion-icon name="person" class="icon-login"></ion-icon>
                            <ion-input name="user" type="text" [(ngModel)]="user.email"
                                placeholder="Correo electrónico" required></ion-input>
                        </ion-item>
                        <br />
                        <ion-item>
                            <ion-icon name="key" class="icon-login"></ion-icon>
                            <ion-input [type]="password_type" [(ngModel)]="user.password" placeholder="Contraseña" name="password"
                                 required></ion-input>
                            <ion-icon name="eye" item-right ></ion-icon>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="loginUser()" fill="solid" expand="full">
                        <ion-icon name="log-in"></ion-icon>
                        Entrar
                    </ion-button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-label>
                        <a routerLink="/login">
                            <h3>¿Olvido la contraseña?</h3>
                        </a>

                    </ion-label>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-label>
                        <h3>¿No tiene cuenta? <a routerLink="/registro">Registrate</a> </h3>
                    </ion-label>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-slide>

</ion-content>
