<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"  menu="main menu"></ion-menu-button>
    <ion-title>Admin / Bienvenida Dome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header routerLink="/category">
          <ion-img src="assets/imagenes/corazon ico.png" style="align:center width: 80px; height: 80px;"></ion-img>
          <div class="ion-text-center">
            <p>PULSO ACELERADO</p>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header routerLink="/category">
          <ion-img src="assets/imagenes/termometro.png" style="align:center width: 80px; height: 80px;"></ion-img>
          <div class="ion-text-center">
            <p>TEMPERATURA ALTA</p>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header routerLink="/category">
          <ion-img src="assets/imagenes/sudoracion.png" style=" align:centerwidth: 80px; height: 80px;"></ion-img>
          <div class="ion-text-center">
            <p>SUDORACIÓN EXCESIVA</p>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header routerLink="/category">
          <ion-img src="assets/imagenes/caida icono.png" style="align:center width: 80px; height: 80px;"></ion-img>
          <div class="ion-text-center">
            <p>CAIDA DETECTADA</p>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    
  </ion-row>
  <ion-row>
    
    <ion-col>
      <ion-card>
        <ion-card-header routerLink="/ubicacion">
          <ion-img src="assets/imagenes/ubicacion.png" style="align:center width: 80px; height: 80px;"></ion-img>
          <div class="ion-text-center">
            <p>UBICACIÓN</p>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    
  </ion-row>
  

</ion-grid>
</ion-content>