<ion-app>
  <!--solo borrar el type y regresa al esta-->
<ion-menu side="start" autoHide="true" type="push" menuId="main menu" content-id="main">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/main-menu" (click)="toggleMenu()" >
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/profile" (click)="toggleMenu()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item routerLink="/profile" (click)="toggleMenu()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item (click)="Salir()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>        
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
