<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EPILEPSY CONTROL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="assets/imagenes/fondoMain.png" style="align:center width: 100px; height: 400px;"></ion-img>
      <ion-button color="primary" routerLink="/login">
        Continuar
      </ion-button>
  </div>
</ion-content>
