ion-content {
    --padding-top: 0px;
    --padding-start: 0px;
}

ion-toolbar {
    --padding-top:0px;
    --padding-start:0px;
    --padding-bottom:0px;
}
ion-segment-button{
    --color-checked:#088bb3;
    --border-style:none;
}

.header{
    border-radius: 0px 0px 30px 30px;
    background-color: white;
    height: 360px;
    overflow: hidden;
}

.img-container {
    text-align: center;
    
    width: 100%;
}

.img-food {
    width: 292px;
    height: 300px;
}

.backgroundInput {
    color: black;
    margin-top: 50px;
}

.container-input {
    padding: 30px;
}


ion-datetime{
    border-bottom: 0.5px solid #000000;
}

.container-inputs {
    margin-bottom: 10px;
}

.label {
    color: black;
    opacity: 0.4;
}

.container-btn {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    width: 100%;
   
}
//color de loading
.my-custom-class {
  --background:#04f4cc;
    --spinner-color:#188088;
  }

  ion-select {
    width: 100%;
  
    justify-content: center;
  }

  
.btn {
    width: 90%;
    height: 70px;
    background: #088bb3;
    box-shadow: 0px 4px 4px rgba(0, 102, 255, 0.5);
    border-radius: 30px;
    color: white;
    font-size: 17px;
}

ion-item{
    --background: #F2F2F2;
    --highlight-color-focused:#088bb3;
    --highlight-color-valid:#088bb3;
}