<ion-content color="backgroundLogin">
  <div class="header">
    <ion-toolbar>
      <div class="img-container">
        <ion-back-button slot="start" defaultHref="login"></ion-back-button>
        <img class="img-food" src="../../assets/imagenes/fondoMain.png" />
      </div>
    </ion-toolbar>
  </div>
  <div class="ion-text-center" class="container-input">    
      <!-- Registro -->
      <div class="backgroundInput">
        <div class="container-inputs" style="margin-bottom: 50px">
          <ion-label class="label">Tipo de usuario</ion-label>
          <ion-item>
            
            <ion-select   [(ngModel)]="user.role"  value="cliente" okText="Aceptar" cancelText="Cancelar">
              <ion-select-option value="paciente">Paciente</ion-select-option>
              <ion-select-option value="Familiar">Familiar</ion-select-option>
            </ion-select>
          </ion-item>
        </div>   
        <div class="container-inputs" style="margin-bottom: 50px">
          <ion-label class="label">Nombre:</ion-label>
          <ion-item>
            <ion-input name="password" [(ngModel)]="user.name" name="name" type="text"></ion-input>
          </ion-item>
        </div>
        <div class="container-inputs" style="margin-bottom: 50px">
          <ion-label class="label">Correo electrónico</ion-label>
          <ion-item>
            <ion-input name="password" [(ngModel)]="user.email" name="email" type="email"></ion-input>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label class="label">Contraseña</ion-label>
          <ion-item>
            <ion-input [type]="password_type" name="password" [(ngModel)]="user.password"></ion-input>
            <ion-icon [name]="eye_type" item-right (click)="togglePasswordMode()"></ion-icon>
          </ion-item>         
        </div>  
        <div class="container-btn">
          <button (click)="signin()" class="btn">Regístrate</button>
        </div>
    </div>
  </div>
</ion-content>